@charset "UTF-8";

 
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to bottom,#D9D9D9 , #BDBFBF);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #72585293;
}

h1{
    color: #734040;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(71, 39, 39, 0.678);
}

h2{
    color: #023d42;
}

p {
    text-align: justify;
}